<h3>Add new contact</h3>
<a href="/">Go Back</a>
<form [formGroup]="contactForm" (ngSubmit)="handleSubmit()">
	<label>
		First Name
		<input type="text" required formControlName="FirstName" />
		<div
			*ngIf="
				contactForm.controls.FirstName.invalid &&
				(contactForm.controls.FirstName.dirty ||
					contactForm.controls.FirstName.touched)
			"
		>
			<div
				*ngIf="contactForm.controls.FirstName.errors?.['required']"
				class="error-text"
			>
				FirstName is required!
			</div>
		</div>
	</label>

	<label>
		Last Name
		<input type="text" required formControlName="LastName" />
		<div
			*ngIf="
				contactForm.controls.LastName.invalid &&
				(contactForm.controls.LastName.dirty ||
					contactForm.controls.LastName.touched)
			"
		>
			<div
				*ngIf="contactForm.controls.LastName.errors?.['required']"
				class="error-text"
			>
				LastName is required!
			</div>
		</div>
	</label>

	<label>
		Email
		<input type="email" formControlName="Email" />
		<div
			*ngIf="
				contactForm.controls.Email.invalid &&
				(contactForm.controls.Email.dirty || contactForm.controls.Email.touched)
			"
		>
			<div
				*ngIf="contactForm.controls.Email.errors?.['email']"
				class="error-text"
			>
				Invalid email format!
			</div>
		</div>
	</label>

	<label>
		Phone Number
		<input type="tel" formControlName="PhoneNumber" />
		<div
			*ngIf="
				contactForm.controls.PhoneNumber.invalid &&
				(contactForm.controls.PhoneNumber.dirty ||
					contactForm.controls.PhoneNumber.touched)
			"
		>
			<div
				*ngIf="contactForm.controls.PhoneNumber.errors?.['pattern']"
				class="error-text"
			>
				Invalid phone number format!
			</div>
		</div>
	</label>

	<label>
		Birthday
		<input type="date" formControlName="Birthday" />
	</label>

	<label>
		Date Last Contacted
		<input type="date" formControlName="LastContacted" />
	</label>

	<input type="submit" value="Create contact" [disabled]="!contactForm.valid" />
</form>
