<a href="/add-contact">Add Contact</a>
<div className="contacts-container" *ngFor="let contact of contactList">
	<hr />
	<p>{{ contact.FirstName }} {{ contact.LastName }}</p>
	<ul>
		<li>email: {{ contact.Email }}</li>
		<li>phone: {{ contact.PhoneNumber }}</li>
		<li>birthday: {{ contact.Birthday }}</li>
		<li>last contacted: {{ contact.LastContacted }}</li>
	</ul>
	<button
		type="button"
		className="edit-contact"
		(click)="editContact(contact.ID!)"
	>
		Edit Contact
	</button>
	<button
		type="button"
		className="delete-contact"
		(click)="deleteContact(contact)"
	>
		Delete Contact
	</button>
	<hr />
</div>
